/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'PT Sans', sans-serif;
}

header {
    color: white;
    background-color: lightblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}

.logo {
    margin-left: 20px;
}

.menu {
    margin-right: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
}

/* TABLET */
@media screen and (min-width:768px) {
    .container{
        width: 80%;
        margin: 0 auto;
        padding-top: 2em;
    }
}
/* /TABLET */

.second{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

/* TABLET */

@media screen and (min-width:768px) {
    .row1{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.col{
    border-radius: 15px;
    margin-top: 20px;
    /* DEBUG */
    width: 260px;
    height: 300px;
    background-color: aqua;
    border: 1px solid black;
}

@media screen and (min-width:768px) {
    .colbig {
        width: calc( 2 / 3 * 100% - 1em);
        
    }
}

#section2{
    background-color: purple;
    width: 100%;
    margin: 0 auto;
}

.purple {
    background-color: purple;
    /* DEBUG */
    background-color: 1px solid black;
}

#section2:last-child{
    padding-bottom: 2em;
}

h2{
    color: white;
    text-align: center;
}

#section4{
    background-color: purple;
    width: 100%;
}

#section4:last-child {
    padding-bottom: 2em;
}

#section5 {
    display: flex;
    justify-content: flex-start;
}

#section5:last-child {
    padding-bottom: 2em;
}

.foot{
    padding-bottom: 2em;
}

.footer-down {
    padding: 2em;
    text-align: center;
    color: white;
    background-color: black;
}