/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */
html {
    font-family: 'PT Sans', sans-serif;
}

img{
    width: 100%;
}

/* HEADER  */
header {
    color: white;
    background-color: #0084fd;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.menu ul{
    display: none;
}

.logo {
    margin-left: 20px;
}

/* TABLET */
@media screen and (min-width:768px) {
    .logo{
        margin-left: 9%;
    }
}
/* /TABLET */

/* DESKTOP 992PX */
@media screen and (min-width:992px) {
    .logo{
        margin-left: 14%;
    }
}

.menu {
    margin-right: 20px;
}
/* /DESKTOP 992PX */

/* TABLET */
@media screen and (min-width:768px) {
    .menu{
        margin-right: 9%;
    }

    .menu ul{
        display: none;
    }
}
/* /TABLET */

/* DESKTOP 992PX */
@media screen and (min-width:992px) {
    .menu{
        margin-right: 14%;
    }

    .menu i {
        display: none;
    }

    ul{
        color: black;
       display: flex; 
       list-style: none;
    }
}
/* /DESKTOP 992PX */

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
}

/* CONTAINER TABLET */
/* TABLET */
@media screen and (min-width:768px) {
    .container{
        width: 80%;
        margin: 0 auto;
        padding-top: 2em;
    }
}
/* /TABLET */

/* DESKTOP 992PX */
@media screen and (min-width:992px) {
    .container{
        width: 70%;
       
    }
}
/* /DESKTOP 992PX */

.second{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}


/* ROW FORMATO TABLET */
/* TABLET */
@media screen and (min-width:768px) {
    .row1{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .row2{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .row3{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 85%;
        margin: 0 auto;
    }

    .row5{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}
/* /TABLET */

/* DESKTOP 992PX */
@media screen and (min-width:992px) {
    .row3{
        width: 72%;
    }
}
/* /DESKTOP 992PX */

.col{
    border-radius: 15px;
    margin-top: 20px;
    /* DEBUG */
    display: flex;
    justify-content: center;
}

.color{
    background-color: #B5DDFF;
}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}


/* DESKTOP IMG PRIMA SEZIONE */
@media screen and (min-width:992px) {
    .desktop{
        flex-direction: row;
        justify-content: center;
        display: inline-block;
    }
}
/* /DESKTOP IMG PRIMA SEZIONE */


.first:first-child {
    margin-top: 10px;
}

.first>p {
    margin-top: 10px;
    margin-bottom: 15px;
}

/* COLONNA SINISTRA PRIMA SEZIONE TABLET */
@media screen and (min-width:768px) {
    #special{
        margin-bottom: 17.9em;
    }
}
/* /COLONNA SINISTRA PRIMA SEZIONE TABLET */

i{
    margin-right: 5px;
}

.button{
    color: white;
    background-color: #0084fd;
    padding: .3rem;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.icon{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 60px;
    color: #0084fd;
}

.first>h3 {
 color: #0084fd;
}

/* COL FORMATO TABLET */
/* TABLET */
@media screen and (min-width:768px) {
    .colbig1 {
        width: 66% 
    }

    .colbig2 {
        width: 33%;
    }

    .small{
        width: calc(100% / 3 - .3em);
    }

    .tablet{
        width: 80%;
        border: 1px solid black;
    }

    .card{
        width: calc(100% / 2 - 2em);
    }

    .info{
        width: 60%;
    }

    .info2{
        width: 36%;
    }

    
}
/* /TABLET */

/* DESKTOP 992PX */
@media screen and (min-width:992px) {
    .tablet{
        width: 70%;
    }

    .card{
        width: calc(100% / 3 - 1em);
    }

    .publish{
        width: 40%;
    }

    .rowsp{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
/* /DESKTOP 992PX */

#section2 {
    background-color: purple;
    width: 100%;
    margin: 0 auto;
}


.purple {
    background-color: purple;
    /* DEBUG */
    background-color: 1px solid black;
}

#section2:last-child{
    padding-bottom: 2em;
}

h2{
    color: white;
    text-align: center;
}

#section4{
    background-color: purple;
    width: 100%;
}

#section4:last-child {
    padding-bottom: 2em;
}

#section5 {
    display: flex;
    justify-content: center
}



#section5:last-child {
    padding-bottom: 2em;
}

.foot{
    padding-bottom: 2em;
}

.footer-down {
    padding: 2em;
    text-align: center;
    color: white;
    background-color: black;
}